<% include ../header.html %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 id="forms" class="page-header">个人中心：</h3>
				<table class="table table-bordered">
					<tr>
						<th>身份：</th><td>老师</td>
					</tr>
					<tr>
						<th>操作：</th>
						<td>
							<a href="#" class="btn btn-default" id="enterQueue" data-toggle="modal" data-target="#queue">进入答疑队列</a>
							<a href="/answer/answers" class="btn btn-default">答疑列表</a>
						</td>
					</tr>
				</table>				
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/common/config.js"></script>
<script type="text/javascript" src="/js/common/keepAlive.js"></script>
<script type="text/javascript">
	connect.init(config.wsServerIP, config.wsServerPort, config.wsServerProtocol);

	$('#enterQueue').click(function(){
		connect.register('answer.match', function (data) {
			console.log(data.answerID);
			alert('匹配成功，进入房间！');
			window.location.href='http://vgame.tv/room/get?id=' + data.roomID;
		});

		connect.send({	c: 'answer.enter_queue', 
						data: { username: '<%-user.username %>', role: '<%-user.role %>' }});
	})
</script>
<% include ../footer.html %>

<div id="queue" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	      <h4 class="modal-title" id="myModalLabel">等待答疑</h4>
	    </div>
	    <div class="modal-body">
	    	<h4>您已进入答疑队列，您前面有2位老师，请耐心等待...</h4>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-primary" id="leaveQueue">退出答疑队列</button>
	    </div>

	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>