<% include ../header.html %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 id="forms" class="page-header">个人中心：</h3>
				<table class="table table-bordered">
					<tr>
						<th>身份：</th><td>学生</td>
					</tr>
					<tr>
						<th>操作：</th>
						<td>
						    <div id="container">
								<a class="btn btn-success" id="pickfiles" href="#">
								  <i class="glyphicon glyphicon-plus"></i>
								  <sapn>上传问题图片</sapn>
								</a>
							</div>
							<a href="/room/list" class="btn btn-default">房间列表</a>
							<a href="/answer/answers" class="btn btn-default">答疑列表</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

<div id="answer" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	      <h4 class="modal-title" id="myModalLabel">答疑</h4>
	    </div>
	    <div class="modal-body">
	    <div class="row">
	    	<div class="col-sm-6">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    选择科目
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="subject">
				    <li><a href="#" onclick="changeSubjectValue(1)">数学</a></li>
				  </ul>
				  <input id="subjectValue" type="hidden" value="1">
				</div>
			</div>	


			<div class="col-sm-6">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="grade" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    选择年级
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="grade">
				    <li><a href="#" onclick="changeGradeValue(101)">小学一年级</a></li>
				  </ul>
				  <input id="gradeValue" type="hidden" value="101">
				</div>
			</div>
		</div>
		<div id="questionImg"></div>
		<input id="imgUrlValue" type="hidden" value="http://xxx.png">
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-primary" id="match" data-toggle="modal" data-target="#queue">匹配老师</button>
	    </div>
	    </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<div id="queue" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	      <h4 class="modal-title" id="myModalLabel">等待答疑</h4>
	    </div>
	    <div class="modal-body">
	    	<h4>您已进入答疑队列，您前面有2位学生，请耐心等待...</h4>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-primary" id="leaveQueue">退出答疑队列</button>
	    </div>

	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<script type="text/javascript" src="/js/common/config.js"></script>
<script type="text/javascript" src="/js/common/keepAlive.js"></script>
<script type="text/javascript">
	connect.init(config.wsServerIP, config.wsServerPort, config.wsServerProtocol);
	$('#match').click(function(){
		connect.register('answer.match', function (data) {
			console.log(data.answerID);
			alert("匹配成功！");
			window.location.href='http://vgame.tv/room/get?id=' + data.roomID;
		})
		
		connect.register('answer.enter_queue', function (data) {
			//TODO
		})

		var question = {
			subject: $('#subjectValue').val(),
			grade: $('#gradeValue').val(),
			imgUrl: $('#imgUrlValue').val()
		}
		
		connect.send({	c: 'answer.enter_queue', 
						data: { 
							username: '<%-user.username %>', 
							role: '<%-user.role %>',
							question: question
						}
					});
	})

	function changeSubjectValue(v){
		$('#subjectValue').val(v);
	}

	function changeGradeValue(v){
		$('#gradeValue').val(v);
	}
</script>

<script type="text/javascript" src="/js/qiniu/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/qiniu/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniu/main.js"></script>
<% include ../footer.html %>