<% include ../header.html %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 id="forms" class="page-header">个人中心：</h3>
				<table class="table table-bordered">
					<tr>
						<th>身份：</th><td>老师</td>
					</tr>
					<tr>
						<th>操作：</th>
						<td>
							<a href="#" class="btn btn-default" id="enterQueue">进入答疑队列</a>
						</td>
					</tr>
				</table>				
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/common/config.js"></script>
<script type="text/javascript" src="/js/common/keepAlive.js"></script>
<script type="text/javascript">
	connect.init(config.wsServerIP, config.wsServerPort, config.wsServerProtocol);

	$('#enterQueue').click(function(){
		connect.register('answer.match', function (data) {
			alert('匹配成功，进入房间！');
			window.location.href='http://127.0.0.1:3001/temp/room/t';
		});

		connect.send({c: 'answer.enter_queue', data: { username: 'teacher', role: 'teacher' }});
	})
</script>
<% include ../footer.html %>