<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/css/app/main.css" />
		<link rel="stylesheet" href="/css/app/amazeui.css" />
		<script src="/js/app/jquery.min.js"></script>
		<script src="/js/app/amazeui.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="denglu">
				<div class="change">
					<form method="post" action="/users/login">
						<p><input type="text" id = "account" class="am-form-field am-round" placeholder="请输入账号" name="username"/></p>
						<p><input type="password" id = "password" class="am-form-field am-round" placeholder="请输入密码" name="password"/></p>
						<button type="submit" class="am-btn  am-btn-primary m-btn-block am-round btn-dl" id = "loginBtn">确认登录</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
