<% include ../header.html %>
<style type="text/css">
	.sketch-wrapper{
		border: 1px solid #eee;
		height: 400px;
		width: 600px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					<div id="question">
						
					</div>
				</li>
				<li class="list-group-item">
					
				</li>
			</ul>
		</div>
		<div class="col-sm-9">
			<div class="sketch-wrapper">
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<a href="#" class="btn btn-primary" id="recordBtn">开始录音（应该自动录音不让用户知道）</a>
</div>
<script type="text/javascript" src="/js/common/config.js"></script>
<script type="text/javascript" src="/js/common/keepAlive.js"></script>
<script type="text/javascript">
	connect.init(config.wsServerIP, config.wsServerPort, config.wsServerProtocol, function () {
		connect.register('room.enter', function (data) {
			if (data.status == 'success') {
				//进入房间成功，在此处开始渲染页面
				console.log(data);
				$('#question').html('<img src="' + data.question.imgUrl +'"></img>');
			} else {
				window.location.href = "http://vgame.tv/common/error";
			}
		})
		connect.send({c: 'room.enter', data: { roomID: '<%-room.roomID %>', username: '<%-user.username %>', role: '<%-user.role %>'}});
	});
</script>


<!--音频处理-->
<script type="text/javascript" src="/js/audio/recorder.js"></script>
<script type="text/javascript">
function startAudio(){
  window.AudioContext = window.AudioContext || window.webkitAudioContext;
  var audioContext = new AudioContext();
  var audioInput;

  function gotStream(stream){
    audioInput = audioContext.createMediaStreamSource(stream);
    recorder.init(audioInput);
    recorder.record();
  }

  navigator.getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  navigator.getUserMedia({"audio": true}, gotStream, function(e){
    //if (e) console.log('get user media err: ' + JSON.stringify(e))
  	if (e) alert('获取麦克风失败！');
  });    
}
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#recordBtn').click(function(){
			startAudio();
		})
	})
</script>
<% include ../footer.html %>