<% include ../header.html %>
<div class="container" id="result">
</div>
<div class="container">
	<div class="row">
		
	</div>
</div>
<script type="text/javascript" src="/js/common/config.js"></script>
<script type="text/javascript" src="/js/common/keepAlive.js"></script>
<script type="text/javascript">
	connect.init(config.wsServerIP, config.wsServerPort, config.wsServerProtocol, function () {
		connect.register('room.enter', function (data) {
			if (data.status == 'success') {
				//进入页面成功，在此处开始渲染页面以及初始化
			} else {
				window.location.href = "http://vgame.tv/common/error";
			}
		})
		connect.send({	c: 'room.enter', 
						data: { roomID: '<%-room.roomID %>', username: '<%-user.username %>', role: '<%-user.role %>' }});
	});	
</script>
<% include ../footer.html %>